extends base

block cssLinks
  if processed
    each cssFileName in cssFileNames
      link(rel='stylesheet', href=staticDir + '/css/' + cssFileName)
  else
    link(rel='stylesheet', href='build/compiled.css')

block content

  div.login-body

    h1.login-header
      span.
        Reflect calendar
      sup.status-mark.
        alpha

    h2.login-sub-header.
      Fast and minimal web-calendar

    form(class='login-cont login-submit-cont', action='/auth/google', method='GET')
      button(class='goog-inline-block login-submit').
        Login with Google
    div.login-guest-link-cont
      span.
        or
      a(href='/guest').
        take a look

    div.button-aux-cont
      a(
        href='mailto:reflectcal@gmail.com?subject=Reflect calendar feedback.&body=',
        class='goog-inline-block button-login-mail'
      ).
        Mail developer
      span.spacer.
        |
      a(
        href='https://twitter.com/intent/tweet?text=Fast and simple web-calendar by @alexey_komov&tw_p=tweetbutton&url=http%3A%2F%2Freflectcal.com',
        target='_blank',
        class='goog-inline-block button-login-tweet twitter-share-button'
      ).
        Tweet about

  script.
    var submitBtn;
    function getSubmitBtn() {
      return submitBtn || (submitBtn = document.querySelector('.login-submit'));
    }

    function removeSubmitActiveState(e) {
      getSubmitBtn().classList.remove('active');
    }

    function onLoginLoad() {
      getSubmitBtn().addEventListener('touchstart', function(e) {
        getSubmitBtn().classList.add('active');
      }, false);
      document.addEventListener('touchend', removeSubmitActiveState, false);
    }

    window.addEventListener('pageshow', removeSubmitActiveState, false);
    window.addEventListener('load', onLoginLoad, false);